<ul class="navbar-table">
    <li>
        <a asp-controller="home" asp-action="index">Startseite</a>
    </li>
    <li>
        <a asp-controller="Sport" asp-action="index">Sport</a>
    </li>
    <li>
        <a asp-controller="News" asp-action="index">News</a>
    </li>
    <li>
        <a asp-controller="Social" asp-action="index">Social Media</a>
    </li>
</ul>