<h1 style="text-align:center">Social</h1>

<table class="table-header" width="25%">
    <thead>Accounts:</thead>
    <tbody>
        <tr>
            <td>
                <img src="~/Content/instagram_social_4560.png" />
            </td>
            <td>dave.seidl</td>
            <td><a href="https://www.instagram.com/dave.seidl/">Link</a></td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/twitter.png" />
            </td>
            <td>ds_3009</td>
            <td><a href="https://twitter.com/Icecube0930">Link</a></td>
        </tr>
    </tbody>
</table>

